/* styles.css */

/* Reset default margin and padding for body and html */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;  /* Ensure full width */
    height: 100%; /* Ensure full height */
}

body{
    background-color: #1e1e2f;
    color: white;
    font-family: "Montserrat", serif;
    
}

.header {
    background-color: rgba(0, 0, 0, 0.3);;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    box-sizing: border-box; /
}

.header-logo a {
    text-decoration: none;
    color: white;
    font-size: 32px; 
    font-weight: bold;
    margin-left: 30px;
}

.header-logo a:hover{
    color: #c8c8d6;
}

.header-nav {
    list-style: none; /* Removes bullet points */
    margin: 0; /* Removes any default margin */
    padding: 0;
    display: flex; 
}

.header-nav a:hover{
    color: #c8c8d6;
}

/* 'a' is for links */
.header-nav a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin-right: 40px /*add some space between each link Home About Projects*/
}

a {
    color: white;  /* Color for unvisited links */
    text-decoration: none;  /* Remove the underline */
}

a:visited {
    color: white;  /* Color for visited links */
}

a:active {
    color: white;  /* Color for active (clicked) links */
}

/* Style for the content section */
.content {
    display: flex;
    margin-top: 20px; 
}

.content-intro{
    font-size: 18px;
    margin-left: 40px;
    
}


/* Style for the image */
.content--img {
    max-width: 90%;
    max-height: auto; /* Keeps the image’s aspect ratio */
}
.image-container {
    display: flex;
    justify-content: flex-end; 
    padding-right: 20px;
}

.img-box{
    height:400px;
    width:300px;

    border-width: 4px;
    border-style:solid;
    border-color: black;
    border-radius: 5px;
}

.project {
    margin-left: 40px;
    display: flex;
    gap: 50px; 
    margin-bottom: 30px; 
    align-items: center;
    margin-right: 40px;
}

.project-text {
    font-size: 18px;
    flex: 1; 
}

.project-video {
    flex-shrink: 0;
    /* padding-right: 20px; */
}

.project-video iframe {
    
    max-width: 560px;
    height: 315px; 
}

.about {
    display: flex;
    align-items: center;  
    justify-content: space-between; 
    padding: 20px;  
}

.about--img {
    max-width: 90%;
    max-height: auto; /* Keeps the image’s aspect ratio */
}
.skills{
    display: flex;
    align-items: center;  
    justify-content: space-between; 
    padding: 20px;  
}
